* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
}
.container .logo {
    padding-left: 100px;
}
.container .links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}
.container .links li {
    margin: 1rem;
    list-style: none;
}
.container .svg1 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.svg2 {
    width: 500px;
    height: 500px;
    position: absolute;
    right: 5rem;
}

.welcome-section .OnlineColor {
    color: orange;
}
.welcome-section h1 {
    padding-top: 120px;
    padding-left: 100px;
    padding-bottom: 15px;
}
.welcome-section p {
    text-align: inherit;
    margin-left: 8%;
    margin-right: 68%;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
    font-weight: bolder;
    color: orange;
}
.welcome-section .btn1 {
    margin-left: 14%;
    background-color: orange;
    border-radius: 10px;
    padding: 10px 25px;
    color: white;
}
.links li .signin1 {
    color: white;
    background-color: orange;
    border: 0px solid black;
    padding: 5px 35px;
    border-radius: 10rem;
}


.welcome-section .svg3 {
    border: 1px solid orange;
    background-color: rgba(255, 166, 0, 0.13);
    height: 80px;
    width: 38px;
    border-radius: 10rem;
    position: absolute;
    top: 38rem;
    left: 40rem;
}
.use-section {
    margin-top: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    align-items: center;
}

.aboutus-section .card {
    margin-top: 100px;
    margin-left: 4rem;
    width: 90%;
    border-radius: 5rem;
    height: 400px;
    background-color: #FFF8D2;
    position: relative;
    margin-bottom: 100px;
}
.aboutus-section .svg10 {
    padding-bottom: 50px;
}
.AboutUs {
    color: orange;
    position: absolute;
    top: 60px;
    left: 500px;
    border-bottom: 3px solid orange;
    width: 250px;
    padding-bottom: 20px;
    cursor: pointer;
}
.AboutUs:hover {
    color: rgb(255, 123, 0);
    position: absolute;
    top: 60px;
    left: 500px;
    border-bottom: 3px solid orange;
    width: 350px;
    padding-bottom: 20px;
    transition: 1s ease-in-out;
}
.p {
    position: absolute;
    top: 160px;
    margin-left: 40%;
    margin-right: 5%;
}

li {
    list-style: none;
}
.footer {
    height: 350px;
    background-color: #FFF8D2;
    width: 100%;
    border-radius: 150px 150px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20rem;
    position: relative;
    
}
.footer h4 {
    margin-right: 100px;
    padding-bottom: 20px;
    color: orange;
    cursor: pointer;
}
.footer ul li a{
    color: rgba(0, 0, 0, 0.527);
}
.footer ul li a:hover{
    color: rgb(0, 0, 0);
}
.footer .svg19 {
    position: absolute;
    left: 180px;
    width: 150px;
    cursor: pointer;
}
.logo > svg {
    cursor: pointer;
}